body {
  background-image: url(./images/cosmic.jpg);
  background-size: cover;
}

.main {
  margin: auto;
  max-width: 1050px;
}

header {
  color: aliceblue;
  text-align: center;
  font-size: 45px;
  font-family: Courier, monospace;
  font-weight: bolder;
}

h1 {
  text-align: center;
}

.intro-modal {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 75%;
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(169, 169, 169, 0.575);
  color: white;
}

iframe {
  border: none !important;
  margin-bottom: 3%;
}

.select {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.container {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inner-container {
  width: 32%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 3px solid darkgray;
  border-radius: 2%;
}

.title {
  color: white;
  background-color: darkgray;
  text-align: center;
  font-weight: bold;
  font-family: Courier, monospace;
}

.image {
  display: block;
  margin: auto;
  width: 90%;
}

.list {
  color: white;
  font-weight: bold;
  font-family: Courier, monospace;
}

.btn {
  font-size: large;
  font-weight: bold;
  font-family: Courier, monospace;
  background-color: lightcoral;
  border: none;
  transition: ease-in .2s;
  cursor: pointer;
}

.btn:hover{
  background-color: red;
  color: aliceblue;
}

.no-point {
  pointer-events: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1025px){
   body {
    background-size: 100vh;
  }
   header {
    font-size: 3rem;
  }
   .title {
    font-size: 2rem;
  }
  .inner-container {
    width: 47%;
  }
  .list {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 380px){
  #picks {
    display: none;
  }
  body {
    background-size: 100vh;
  }
    .title {
    font-size: 1.3rem;
  }
  .inner-container{
    width: 75%;
  }
  .list {
    font-size: 1rem;
  }
  header {
    font-size: 1.5rem;
  }
}
